services:
  - type: web
    name: hospital-kpi-demo
    env: python
    rootDir: hospital-kpi-ontology  # <-- Add this line
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    plan: starter
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: FLASK_ENV
        value: production
        generateValue: true

